<!DOCTYPE html>
<html lang="en">
  <%-include('includes/head.ejs') %>
  <link rel="stylesheet" href="styles/restaurants.css" />

  <body>
    <%-include('includes/header.ejs') %>
    <!-- -->
    <%- include('includes/aside.ejs') %>

    <main>
      <h1>Recommended restaurants</h1>

      <% if(number === 0) { %>

      <p>Não tem restaurante nessa merda !</p>

      <% } else { %>

      <p>Find your next favorite restaurants with help of our other users!</p>
      <p>There are <%= number %> restaurants</p>

      <% } %>

      <ul id="restaurants-list">
        <% for (let restaurant of restaurants) { %>
        <!---->
        <%- include('includes/restaurants/restaurant-item',
        {restaurant:restaurant}) %>
        <!---->
        <% } %>
      </ul>
    </main>
  </body>
</html>
