<!DOCTYPE html>
<html lang="en">
  <%-include('includes/head.ejs') %>
  <link rel="stylesheet" href="/styles/restaurants.css" />

  <body>
    <%-include('includes/header.ejs') %>
    <!-- -->
    <%- include('includes/aside.ejs') %>

    <main>
      <h1><%= thisRestaurant.name %></h1>
      <p><%= thisRestaurant.cuisine %> | <%= thisRestaurant.address %></p>
      <p><%= thisRestaurant.descrption %></p>
      <p><a href="<%= thisRestaurant.website %>">View Website</a></p>
    </main>
  </body>
</html>
